.menu-item {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  padding: 0 3px;

  .menu-item__name {
    height: 11px;
    font-size: 16px;
    font-weight: 400;
  }

  .menu-item__number-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #2f364a;

    .menu-item__number {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.menu-item_active {
  background: #2f364a;

  .menu-item__number-wrapper_active{
    background: #ef4949;
  }
}
