.new-mail-button {
  height: 45px;
  width: 210px;
  padding-left: 30px;
  background-color: #01caa0;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .new-mail-button__text {
    color: #f6fafe;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
